.RightPanel {
    padding-top: 0.6vh;
    padding-bottom: 1vh;
    padding-right: 0.5vw;
    margin: 0;
    height: 98.4vh;
    width: 24.5vw;
    background-color: #B9C1D3;
    display: inline-block;
    vertical-align: top
}